<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html>
<head>
<meta charset="ISO-8859-1">
<title>Edit User</title>

<style>
.alert {
	font-size: 10px
}
</style>
</head>

<body>
	<div th:replace="header"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 mx-auto card p-3 m-2 shadow p-3 mb-5 bg-white rounded">
				<div class="card-body">

					<div class="row">
						<h1 class="mx-auto">Profile</h1>
					</div>

					<form action="#" th:action="@{/user/update/profile}"
						th:object="${user}" method="post">

						<input type="hidden" th:field="*{id}" /> <input type="hidden"
							th:field="*{password}" />


						<div class="form-group row">

							<label for="fname" class="col-sm-2 col-form-label">First
								Name:</label>
							<div class="col-sm-10">
								<input type="text" class="form-control shadow bg-white" id="fname"
									name="firstName" th:field="*{firstName}">
							</div>


						</div>


						<div class="form-group row">
							<label for="lname" class="col-sm-2 col-form-label">Last
								Name:</label>
							<div class="col-sm-10">
								<input type="text" class="form-control shadow bg-white" id="lname"
									name="lastName" th:field="*{lastName}">
							</div>
						</div>

						<div class="form-group row">
							<label for="email" class="col-sm-2 col-form-label">Email:</label>
							<div class="col-sm-10">
								<input type="email" class="form-control shadow bg-white" id="eamil" name="email"
									th:field="*{email}">
							</div>
						</div>

						<!--  	<div class="form-group row">
						<label for="password" class="col-sm-2 col-form-label">Password:</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="password"
								name="password" th:field="*{password}">
						</div>
						<div class="col-sm-4">
							<p th:if="${#fields.hasErrors('password')}" th:errorclass="error"
								th:errors="*{password}" class="alert alert-danger" />

						</div>
					</div>
				-->

						<div class="form-group row">
							<label for="address" class="col-sm-2 col-form-label">Address:</label>
							<div class="col-sm-10">
								<input type="text" class="form-control shadow bg-white" id="address"
									name="address" th:field="*{address}">
							</div>
						</div>

						<div class="form-group row">
							<label for="address" class="col-sm-2 col-form-label">Date
								of Joining:</label>
							<div class="col-sm-10">
								<input type="date" class="form-control shadow bg-white" id="date"
									name="joiningDate" th:field="*{joiningDate}">
							</div>
						</div>
						<div class="row">
							<div class="mx-auto">
								<input type="submit" class="btn btn-primary shadow" value="save">
							</div>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</body>
</html>