.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 90%;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
}

.flex-container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-gap: 2em;
    margin-top: 10px;
}

.flex-container-item {
    width: auto;
    margin: 10px;
    text-align: center;
    line-height: 35px;
}

.post-button{
    padding: 5px;
    margin: 2px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.post-button:hover{
    background-color: #5558fa;
    color: #fff;
}