h5{
    color:blue;
}

.emp{
    font-weight: bold;
    color: #393D3A;
}

.hr{
    width: 138px;
}

.leave-table{
    font-size: 12px;
}

footer{
    background-color: black;
    color:white;
    position: relative;
    height: 80px;
    bottom: 0;
    width: 100%;
}

.application-table{
    font-size: 12px;
}

select{
    width:450px;
}

.login{
    height: 407px
}

.login-form{
    height: 290px;
    width: 310px;
    background-color: rgb(119, 175, 136);
}
